<header>
  <nav>
    <a routerLink="/home" class="logo">
      <img src="logo.png" alt="ArtSphere Logo" />
    </a>

    @if (!isLoggedIn) {
    <ul class="guest">
      <li><a routerLink="/gallery">Galery</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
    } @else {
    <ul class="user">
      <li><a routerLink="/gallery">Galery</a></li>
      <li><a routerLink="/my-creations">My Works</a></li>
      <li><a routerLink="/creations/upload">Upload</a></li>
      <li><a routerLink="/logout">Logout</a></li>
    </ul>
    }
  </nav>
</header>
