<section class="auth-section">
  <form class="auth-form" (ngSubmit)="onRegister()" #registerForm="ngForm">
    <h2>Register</h2>

    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        ngModel
        required
        minlength="3"
        #usernameInput="ngModel"
      />
      @if (usernameError) {
      <div class="error-message">
        <div>{{ usernameErrorMessage }}</div>
      </div>
      }
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        ngModel
        required
        email
        #emailInput="ngModel"
      />
      @if (emailError) {
      <div class="error-message">
        <div>{{ emailErrorMessage }}</div>
      </div>
      }
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        required
        minlength="6"
        #passwordInput="ngModel"
      />
      @if (passwordError) {
      <div class="error-message">
        <div>{{ passwordErrorMessage }}</div>
      </div>
      }
    </div>

    <div class="form-group">
      <label for="rePassword">Re-Password</label>
      <input
        type="password"
        id="rePassword"
        name="rePassword"
        ngModel
        required
        minlength="6"
        #rePasswordInput="ngModel"
      />
      @if (rePasswordError) {
      <div class="error-message">
        <div>{{ rePasswordErrorMessage }}</div>
      </div>
      }
    </div>

    <button type="submit" [disabled]="!isFormValid">Register</button>
    <p>Already have an account? <a routerLink="/login">Login here</a></p>
  </form>
</section>
