<section class="auth-section">
  <form class="auth-form" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <h2>Login</h2>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        email
        ngModel
        #emailInput="ngModel"
      />
      @if (emailInput.errors?.['required'] && emailInput.touched) {
      <div class="error-message">
        <div>Email is required!</div>
      </div>
      } @else if (emailInput.errors?.['email'] && emailInput.touched) {
      <div class="error-message">
        <div>Email is NOT Valid!</div>
      </div>
      }
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        required
        minlength="4"
        #passwordInput="ngModel"
      />
      @if (passwordInput.errors?.['required'] && passwordInput.touched) {
      <div class="error-message">Password is required!</div>
      } @else if (passwordInput.errors?.['minlength'] && passwordInput.touched)
      {
      <div class="error-message">Password must be at least 4 characters!</div>
      }
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>

    <p>Don't have an account? <a routerLink="/register">Register here</a></p>
  </form>
</section>
