<section class="auth-section">
  <form class="auth-form" (ngSubmit)="onLogin()" method="post">
    <h2>Login</h2>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        ngModel
        required
        email
        #emailInput="ngModel"
        (blur)="validateEmail()"
      />
      @if (emailError) {
      <div class="error-message">
        <div>{{ emailErrorMessage }}</div>
      </div>
      }
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        required
        #passwordInput="ngModel"
        (blur)="validatePassword()"
      />
      @if (passwordError) {
      <div class="error-message">
        <div>{{ passwordErrorMessage }}</div>
      </div>
      }
    </div>

    <button type="submit" [disabled]="!isFormValid">Login</button>

    <p>Don't have an account? <a routerLink="/register">Register here</a></p>
  </form>
</section>
